html
{
    background-color: #4E5160;
}

body
{
    font-family: arial;
    margin: 0 auto;
    padding: 35px 50px 15px 50px;
    max-width: 1056px;
    background-color: #FFFFFF;
    color: #4E5260;
    font-size: 0.9em;
}

header {
	background:url(favicon.ico) no-repeat left center;
	padding:10px 80px;
	background-size:64px;
}

@media all and (max-width: 600px) {
	body{
		padding:10px;
	}
}

h2{
	margin-top:50px;
}

table
{
    border-left: 0px solid;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    width:100%;
}
	td, th
	{
	    border: 1px solid #CCCCCC;
	    vertical-align: top;
	    border-left-width: 0px;
	    padding:10px;
	}
	
	table thead td, table thead th{
	    border-top-width: 0px;
	}

	table thead th{
		text-align:center;
	}
	
	table thead th div{
		margin:0 auto;
		background:url(logos.png) no-repeat top left;
		width:25px;
		height:25px;
	}
	.ie6{
		background-position:0 0;
	}
	.ie7,.ie8{
		background-position:-25px 0;
	}
	.ie9,.ie10{
		background-position:-50px 0;
	}
	.ff{
		background-position:0 -25px;
	}
	.op{
		background-position:0 -50px;
	}
	.cr{
		background-position:0 -75px;
	}
	.sa{
		background-position:0 -100px;
	}
	
	td.yes{
		background:url(supported.png) no-repeat center center;
	}
	
	body th{
		text-align:left;
		padding-left:10px;
	} 
		tbody th p{
			font-weight:normal;
		}


blockquote{
	background-color: #F5F7F5;
	border: 1px solid #CCC;
	padding: 15px;
	margin: 0 0 35px 0;	
}

pre{
	background-color: #F5F7F5;
	border: 1px solid #CCC;
	padding: 15px;
	margin: 0 0 35px 0;	
}

button{
	display: block;
	position:absolute;
	margin-top:-50px;
	left:50%;
}